.header{
    background-color: rgb(212, 167, 71);
    color: white;
    height: 100%;
    width: 100%;
    display: flex;
    
    
    
}

.h1{
   

}

.header-logo{
    
        width: auto;
        height: 130px;
        margin-right: 20px;
    
        
}

.body{
    width: 100%; 
    height: 100%;
    font-family: sans-serif;
}